The following libraries will be required to be installed to ensure operation of this repository
______________________
numpy
pandas
wheel
ipykernel
pyspark
fastparquet
scipy
nltk
string
glob
os
string
re
functools
operator
(These will furthermore be required as apart of nltk)
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
